body {
  min-width: 100px;
  min-height: 100%;
  font-family: "Quicksand", "Roboto", "-apple-system", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  color:$primary;
}
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
a {
  text-decoration: none;
}

ul {
  li {
    color: $grey-7;
  }
}
@media (min-width: $breakpoint-md-max) {
  .col-md-55 {
    width: 20% !important;
    float: left;
  }
}
//
