// app global css in SCSS form
// .acc-card{
//     max-width: 500px;
// }
body {
  min-width: 100px;
  min-height: 100%;
  font-family: "Quicksand","Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

}
a {
  text-decoration: none;
}
//
.centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.center {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}
.form-xy-center {
  position: relative;
  top: calc(100vh - 80vh);
  max-width: 500px;
  margin: auto;
}
/**
reduse icon font weight
**/
.form-icon-weight {
  -webkit-text-stroke: 6px white;
}

@for $b from 0 to 2 {
  .border-dark-top-#{$b} {
    border-top: ($b) + px solid $dark-border;
  }
  .border-dark-bottom-#{$b} {
    border-bottom: ($b) + px solid $dark-border;
  }
  .border-dark-#{$b} {
    border: ($b) + px solid $dark-border;
  }
}
